.quantityControl {
  display: flex;
  align-items: center;
}
.quantityControl button {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: none;
  border: 1px solid #c2c2c2;
  background-color: transparent;
}
.quantityControl input {
  width: 40px;
  height: 20px;
  border: 1px solid #c2c2c2;
  margin: 0 5px;
  text-align: center;
}
