.productDescriptionContainer {
    display: flex;
    box-sizing: border-box;
    padding: 10px 0;
    width: 100%;
}
.verticalImageStack {
    width: 67px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.thumbnail {
    overflow: hidden;
    text-align: center;
    justify-content: center;
    width: 64px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 3px;
    background-color: #fff;
    border: 2px solid rgb(211, 211, 211);
    opacity: 0.5;
}
.thumbnail.active {
    border: 2px solid rgba(20, 45, 52, 0.9);
    opacity: 1;
}
.thumbnailImg {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.productDescContainer {
    width: 400px;
}
.productDescImgContainer {
    overflow: hidden;
    text-align: center;
    justify-content: center;
    max-width: 380px;
    margin: 0 0 0 5px;
    height: 200px;
    padding: 0.5rem;
    background-color: #fff;
    display: flex;
    align-items: center;
}
.productDescImgContainer > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.breed ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
.breed ul li {
    list-style: none;
    margin-right: 5px;
    display: flex;
    align-items: center;
    font-size: 12px;
}
.breed ul li a {
    text-decoration: none;
    color: #777;
    display: inline-block;
    font-size: 12px;
    margin: 0 0.3rem 0 0;
    font-weight: 600;
}
.productDetails {
    margin: 0 0 0 10px;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    /* min-width: 380px; */
}
.productDetails .productTitle {
    margin: 0.5rem 0;
    font-size: 1.3rem;
    color: #212121;
    font-weight: 600;
}
.description-title {
    font-size: 0.9rem;
    color: #212121;
    font-weight: 600;
    margin-right: 20px;
    line-height: 1.3rem;
}
.description-content {
    font-size: 0.9rem;
    line-height: 1.3rem;
    color: #212121;
}
.price {
    margin-top: 0.8rem;
    font-size: 1.2rem;
    font-weight: 600;
    display: block;
    align-items: center;
}
.productDetailsPage-actionBtns {
    padding: 1rem 0;
    display: flex;
    justify-content: space-evenly;
}
.addToCart-btn {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #d0011b;
    background-color: rgba(208, 1, 27, 0.08);
    outline: none;
    padding: 1rem 1.5rem;
    border: 1px solid #d0011b;
    border-radius: 4px;
}
.addToCart-btn__title,
.buyNow-btn__title {
    margin-left: 0.5rem;
}
.buyNow-btn {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #fff;
    background-color: #d0011b;
    border: 0;
    outline: none;
    padding: 1rem 1.5rem;
    border-radius: 4px;
}
.productDetails-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buyNow-btn-link {
    text-decoration: none;
}
.product-guarantee {
    color: #212121;
    font-size: 14px;
    font-weight: 600;
}
.writeFeedback {
    width: 70%;
    margin: 0 auto;
}
.review-input {
    width: 100%;
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    box-sizing: border-box;
}
.sendFeedback-btn {
    margin-bottom: 1rem;
    padding: 0.8rem;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    background: #ee832b;
    border: 0;
    border-radius: 0.2rem;
}
.sendFeedback-btn:hover {
    background: #eb7c22;
}
