.cartContainer {
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
}
.itemTitle-container {
    background-color: #ffffff;
    display: flex;
    padding: 10px 20px;
    border-bottom: 2px solid #ccc;
}
.productInformation {
    display: flex;
    align-items: center;
}
.productInformation-name {
    margin-left: 0.8rem;
}
.itemTitle {
    font-weight: 600;
}
.cartProImgContainer {
    width: 90px;
    height: 90px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.cartProImgContainer img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.placeOrder-container {
    width: 100%;
    display: flex;
    background: #fff;
    justify-content: flex-end;
    padding: 10px 0;
    box-sizing: border-box;
    align-items: center;
}
.cartContent {
    display: flex;
}
.itemContent-container {
    display: flex;
    justify-content: space-between;
}
.itemInfo-container {
    padding: 0 60px;
    display: flex;
    flex-direction: column;
}
.itemValue {
    margin-top: 42px;
}
.cartItem-empty {
    text-align: center;
    font-size: 1rem;
}
.content-table {
    border-collapse: collapse;
    font-size: 0.9rem;
    width: 100%;
    min-width: 750px;
    margin-top: 0.3rem;
}
.content-table thead tr {
    background-color: rgba(20, 45, 52, 0.9);
    color: #fff;
    text-align: left;
}
.content-table th,
.content-table td {
    padding: 0.75rem 1rem;
}
.content-table tbody tr {
    border-bottom: 1px solid #ccc;
}
.content-table tbody tr:last-of-type {
    border-bottom: 3px solid rgba(20, 45, 52, 0.9);
}
.placeOrder-btn {
    margin-right: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 3px;
    border: 0;
    background: #fd6a20;
    font-size: 1rem;
    font-weight: 600;
}
.placeOrder-btn:hover {
    background: #fc6013;
}
