.onlinePayment-wrapper {
    display: flex;
    padding: 20px;
    background-color: rgb(153, 153, 153);
    flex-direction: column;
    margin: 20px auto;
    color: #fff;
    text-align: center;
}
.payWithPaypal-btn {
    width: 50%;
    margin: 20px auto;
}
