.checkoutPageContainer {
    max-width: 1200px;
    margin: 2rem auto;
}
.checkoutContainer {
    margin: 0 15px;
}
.checkoutStep {
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}
.checkoutHeader {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
}
.checkoutHeader.active {
    background: rgba(20, 45, 52, 0.9);
    letter-spacing: 1px;
}
.checkoutHeader .stepNumber {
    display: inline-block;
    text-align: center;
    background: #eee;
    color: #2874f0;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    box-sizing: border-box;
    padding: 3px 7px;
}
.checkoutHeader.active .stepNumber {
    background: #fff;
}
.stepTitle {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: #878787;
    margin-left: 15px;
    letter-spacing: 1px;
}
.checkoutHeader.active .stepTitle {
    color: #fff;
    font-weight: 600;
}
.checkoutLogin-container {
    display: flex;
}
.loggedInId {
    font-size: 12.5px;
    margin: 0px 0 10px 57px;
    padding: 0 0 0.5rem 0;
}

.addressContainer {
    box-sizing: border-box;
    padding: 10px 20px;
    background: #f5faff;
    display: flex;
}
.addressinfo {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    box-sizing: border-box;
    width: 100%;
}
.addressDetail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 20px;
    font-weight: 600;
    font-family: "Roboto";
    font-size: 12px;
    color: #333;
}
.addressType {
    display: inline-block;
    margin: 0 0.2rem 0 1rem;
    text-transform: uppercase;
    background: #e0e0e0;
    font-weight: 500;
    padding: 3px 6px;
    font-size: 10px;
    border-radius: 2px;
    color: #6f6f6f;
}
.fullAddress {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 18px;
}
.stepCompleted {
    padding: 0 0 20px 60px;
    font-size: 12px;
}
.checkoutPage-content {
    width: 100%;
    /* display: flex; */
    padding: 0.5rem 20px;
    justify-content: space-between;
}
.checkoutPage-fullName {
    font-weight: 600;
    display: inline-block;
}
.checkoutPage-userEmail-title {
    display: block;
}
.checkoutPage-userEmail {
    margin-top: 0.5rem;
    display: inline-block;
}
.checkoutLogin-btn-container {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 20px;
}
.checkoutLogin-btn {
    background-color: #1466ea;
    border: 0;
    outline: none;
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
    font-weight: 600;
    border-radius: 3px;
    color: #fff;
}
.checkoutLogin-btn:hover {
    background-color: #125ace;
}
.orderConfirmationEmail-container {
    padding: 20px;
    font-size: 0.9rem;
}
.customerConfirmForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.customerConfirmInput {
    padding: 0.5rem 1rem;
    width: 100%;
    margin-right: 1rem;
    border-radius: 3px;
}
.customerConfirmSubmit-btn {
    border-radius: 3px;
    border: 0;
    outline: none;
    color: #fff;
    background-color: #1466ea;
    cursor: pointer;
    padding: 0.8rem 1.5rem;
    font-size: 0.8rem;
}
.customerConfirmSubmit-btn:hover {
    background-color: #125ace;
}
.confirmOrderSummary-btn {
    padding: 1rem 1.5rem;
    margin-top: 0.8rem;
    border-radius: 3px;
    border: 0;
    background: #fd6a20;
    font-size: 1rem;
    font-weight: 600;
}
.confirmOrderSummary-btn:hover {
    background: #fc6013;
}
.cod-btn {
    width: 50%;
    padding: 1rem 0;
    margin: 1rem 0;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    margin-right: 1rem;
    border-radius: 3px;
}
.cia-btn {
    width: 50%;
    padding: 1rem 0;
    margin: 1rem 0;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.cod-btn:hover,
.cia-btn:hover {
    border: 1px solid #ff5500;
    color: #ff5500;
}
.confirmDeliveryLocation-btn {
    margin-top: 0.8rem;
    padding: 1rem 1.5rem;
    border-radius: 3px;
    border: 0;
    background: #fd6a20;
    font-size: 1rem;
    font-weight: 600;
}
.paymentOption-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
